<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>jee-security-basic</display-name>

	<!--  require a login for all resources in /secure -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>secure</web-resource-name>
			<url-pattern>/secure/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>AllAuthenticatedUsers</role-name>
		</auth-constraint>
	</security-constraint>

	<!--  require admin group for admin -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>secure-admin</web-resource-name>
			<url-pattern>/secure/admin/*</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admins</role-name>
		</auth-constraint>
	</security-constraint>

	<!-- in this case it's basic http authentication -->
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>TEST Realm</realm-name>
	</login-config>

	<!--  declare the roles, the first 3 roles are really directory roles -->
	<security-role>
		<role-name>users</role-name>
	</security-role>
	<security-role>
		<role-name>admins</role-name>
	</security-role>
	<!-- the developers role is neither declared nor used in a constraint, but checked by the servlet code -->
	<!-- security-role>
		<role-name>developers</role-name>
	</security-role -->
	<!--  this role is a pseudo-role defined by LdapModule -->
	<security-role>
		<role-name>AllAuthenticatedUsers</role-name>
	</security-role>

</web-app>
